# ПРОГНОЗИРОВАНИЕ №8.4 - ПРИБЫЛЬ (КЛАССИФИКАЦИЯ)

In [1]:
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.20.1" 2023-08-24; OpenJDK Runtime Environment (build 11.0.20.1+1-post-Ubuntu-0ubuntu120.04); OpenJDK 64-Bit Server VM (build 11.0.20.1+1-post-Ubuntu-0ubuntu120.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.8/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmplw05w98t
  JVM stdout: /tmp/tmplw05w98t/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmplw05w98t/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ----------------------------------
H2O_cluster_uptime:         06 secs
H2O_cluster_timezone:       Etc/GMT
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.42.0.2
H2O_cluster_version_age:    2 months and 3 days
H2O_cluster_name:           H2O_from_python_unknownUser_lu56ah
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.926 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.10 final
--------------------------  ----------------------------------

In [2]:
#file = '/content/drive/MyDrive/Colab Notebooks/Diplom/df4eda2clean2.csv'
file = 'df2prep4regressionV8.csv'
df = h2o.import_file(file)
df = df.drop('C1')
#df = df.drop('Revenue_cat')
df = df.drop('Revenue_T')
df = df.drop('abc_xyz_class')
df

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

  Zip    Units  Manufacturer      MonthNo    Model_id_number  CategoryInSegment    Revenue_cat
-----  -------  --------------  ---------  -----------------  -------------------  ---------------
 6111       12  Natura                 12                 44  UrbanConvenience     Revenue_cat #49
92879        7  Pirum                  12                 32  RuralProductivity    Revenue_cat #43
92879        7  Pirum                  12                 31  RuralProductivity    Revenue_cat #43
32901        3  VanArsdel              12                 94  UrbanModeration      Revenue_cat #49
84770        3  Currus                 12                  8  RuralSelect          Revenue_cat #49
95380        3  Abbas                  12                 33  UrbanModeration      Revenue_cat #49
14559        2  Natura                 12                 14  YouthYouth           Revenue_cat #14
16301        2  Natura                 12                 14  YouthYouth           Revenue_cat #14
48439        2  Quibus                 12                  4  RuralSelect          Revenue_cat #38
21787        2  VanArsdel              12                 70  UrbanModeration      Revenue_cat #49
[970935 rows x 7 columns]

In [3]:
train, valid, unseen = df.split_frame(ratios=[0.7, 0.15])

In [4]:
train

  Zip    Units  Manufacturer      MonthNo    Model_id_number  CategoryInSegment    Revenue_cat
-----  -------  --------------  ---------  -----------------  -------------------  ---------------
 6111       12  Natura                 12                 44  UrbanConvenience     Revenue_cat #49
92879        7  Pirum                  12                 32  RuralProductivity    Revenue_cat #43
92879        7  Pirum                  12                 31  RuralProductivity    Revenue_cat #43
32901        3  VanArsdel              12                 94  UrbanModeration      Revenue_cat #49
95380        3  Abbas                  12                 33  UrbanModeration      Revenue_cat #49
14559        2  Natura                 12                 14  YouthYouth           Revenue_cat #14
48439        2  Quibus                 12                  4  RuralSelect          Revenue_cat #38
70578        1  VanArsdel              12                 69  UrbanConvenience     Revenue_cat #33
32164        1  Natura                 12                 10  UrbanModeration      Revenue_cat #48
15955        1  Aliqui                 12                  5  UrbanExtreme         Revenue_cat #38
[679623 rows x 7 columns]

In [5]:
valid

  Zip    Units  Manufacturer      MonthNo    Model_id_number  CategoryInSegment    Revenue_cat
-----  -------  --------------  ---------  -----------------  -------------------  ---------------
21787        2  VanArsdel              12                 70  UrbanModeration      Revenue_cat #49
 7503        2  Currus                 12                  5  MixAll Season        Revenue_cat #38
33126        2  Natura                 12                 18  UrbanModeration      Revenue_cat #49
 6450        1  Natura                 12                 10  UrbanModeration      Revenue_cat #48
10032        1  Aliqui                 12                  5  UrbanExtreme         Revenue_cat #38
60101        1  Aliqui                 12                  5  UrbanExtreme         Revenue_cat #38
92562        1  VanArsdel              12                 11  UrbanModeration      Revenue_cat #49
23139        1  Currus                 12                 14  UrbanExtreme         Revenue_cat #38
34482        1  Currus                 12                 24  UrbanExtreme         Revenue_cat #36
10924        1  Currus                 12                 24  UrbanExtreme         Revenue_cat #36
[145524 rows x 7 columns]

In [6]:
unseen

  Zip    Units  Manufacturer      MonthNo    Model_id_number  CategoryInSegment    Revenue_cat
-----  -------  --------------  ---------  -----------------  -------------------  ---------------
84770        3  Currus                 12                  8  RuralSelect          Revenue_cat #49
16301        2  Natura                 12                 14  YouthYouth           Revenue_cat #14
60073        2  Natura                 12                 26  UrbanConvenience     Revenue_cat #40
30901        1  Natura                 12                 36  UrbanExtreme         Revenue_cat #35
44811        1  Natura                 12                 36  UrbanExtreme         Revenue_cat #35
94065        1  Aliqui                 12                  6  UrbanExtreme         Revenue_cat #34
22302        1  VanArsdel              12                 54  UrbanModeration      Revenue_cat #47
78226        1  VanArsdel              12                 54  UrbanModeration      Revenue_cat #47
25312        1  Currus                 12                  5  UrbanExtreme         Revenue_cat #35
30559        1  Currus                 12                  5  UrbanExtreme         Revenue_cat #35
[145788 rows x 7 columns]

In [7]:
y = "Revenue_cat"
x=train.columns
x.remove(y)

# Тренировка модели

nfolds=0 - это отключает перексрестную проверку и точность будет проверятся на указанной валидационной выборке

In [8]:
aml = H2OAutoML(
    max_models = 10,
    seed = 1,
    nfolds = 0 # отключение кросс валидации
)
aml.train(x = x, y = y, training_frame = train, validation_frame = valid)

AutoML progress: |██ (cancelled)

H2OJobCancelled: Job<$03017f00000132d4ffffffff$_b3bc5e5262d5f4b723a8d914561a4a2b> was cancelled by the user.

In [ ]:
lb = aml.leaderboard
lb

In [ ]:
# Get model ids for all models in the AutoML Leaderboard
model_ids = list(lb['model_id'].as_data_frame().iloc[:,0])
model_ids

In [ ]:
# Get the "All Models" Stacked Ensemble model
se = h2o.get_model([mid for mid in model_ids if "StackedEnsemble_AllModels" in mid][0])
#se = h2o.get_model([mid for mid in model_ids if "AutoML" in mid][0])
se

In [ ]:
# Get the Stacked Ensemble metalearner model
metalearner = h2o.get_model(se.metalearner()['name'])

In [ ]:
metalearner.coef_norm()

In [ ]:
%matplotlib inline
metalearner.std_coef_plot()

# Что с важностью признаков

In [ ]:
for model_id in model_ids:
  try:
    print(f"Model ID: {model_id}")
    aml_unit = h2o.get_model(model_id)
    aml_unit.varimp_plot()
  except:
    print(f"{model_id} - ERROR PLOTTING")

# Что с переобученносью

In [ ]:
import pandas as pd
from sklearn.metrics import r2_score

for model_id in model_ids:
  try:
    print(f"Model ID: {model_id}")
    aml_unit = h2o.get_model(model_id)
    perf = aml_unit.model_performance(valid)
    print(perf)
    print(f"R2 cross validation: {aml_unit.r2()}")
    print(f"R2 test validation: {aml_unit.r2(valid=True)}")
    # прогноз лидирующей моделю на валидационной выборке
    val_pred=aml_unit.predict(unseen).as_data_frame()
    # из валидационного датасеат возбму столбец Stay и сконвертиую его в пандас датафрейм
    val_test = unseen['Revenue_cat'].as_data_frame()
    r2_unseen = r2_score(val_test, val_pred)
    print(f"R2 unseen dataset validation: {r2_unseen}")
    print("-------------------\n-------------------")
  except:
    print(f"{model_id} - ERROR CALCULATE PERFOMANCE")

# Графии кривых обучения

In [ ]:
for model_id in model_ids:
  try:
    learning_curve_plot = h2o.get_model(model_id).learning_curve_plot()
  except:
    print(model_id, "- ERROR PLOT")

# Сохранение лучше модели

Довольно стаблильный показатель по Р-квадарт

In [ ]:
#besy_model_id = 'StackedEnsemble_BestOfFamily_1_AutoML_4_20230921_114817'

In [ ]:
# Сохранение лучшей модели
#besy_model = h2o.get_model(besy_model_id)
#h2o.save_model(besy_model, path = "./models")