In [1]:
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321..... not found.
Attempting to start a local H2O server...
  Java Version: openjdk version "11.0.20.1" 2023-08-24; OpenJDK Runtime Environment (build 11.0.20.1+1-post-Ubuntu-0ubuntu120.04); OpenJDK 64-Bit Server VM (build 11.0.20.1+1-post-Ubuntu-0ubuntu120.04, mixed mode, sharing)
  Starting server from /usr/local/lib/python3.8/dist-packages/h2o/backend/bin/h2o.jar
  Ice root: /tmp/tmpkm7a2w5n
  JVM stdout: /tmp/tmpkm7a2w5n/h2o_unknownUser_started_from_python.out
  JVM stderr: /tmp/tmpkm7a2w5n/h2o_unknownUser_started_from_python.err
  Server is running at http://127.0.0.1:54321
Connecting to H2O server at http://127.0.0.1:54321 ... successful.

--------------------------  ----------------------------------
H2O_cluster_uptime:         06 secs
H2O_cluster_timezone:       Etc/GMT
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.42.0.2
H2O_cluster_version_age:    1 month and 27 days
H2O_cluster_name:           H2O_from_python_unknownUser_drs8of
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    1.926 Gb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://127.0.0.1:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.10 final
--------------------------  ----------------------------------

In [2]:
#file = '/content/drive/MyDrive/Colab Notebooks/Diplom/df4eda2clean2.csv'
file = 'df4eda2clean2.csv'
df = h2o.import_file(file)
df = df.drop('C1')
df = df.drop('ProductID')

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

In [3]:
df

  Units    Revenue_T  Category      ManufacturerID_x  IsCompete      MonthNo    Year  City              State
-------  -----------  ----------  ------------------  -----------  ---------  ------  ----------------  -------
     12     31676.4   Urban                        8  No                  12    2014  Newington, CT     CT
      7     11020.6   Rural                       10  No                  12    2014  Corona, CA        CA
      7     11020.6   Rural                       10  No                  12    2014  Corona, CA        CA
      3     35010.4   Urban                        7  Yes                 12    2014  Melbourne, FL     FL
      3     16441.1   Rural                        4  No                  12    2014  Saint George, UT  UT
      3     35541.4   Urban                        1  Yes                 12    2014  Turlock, CA       CA
      2      2518.74  Youth                        8  No                  12    2014  Spencerport, NY   NY
      2      2518.74  Youth                        8  No                  12    2014  Oil City, PA      PA
      2      9070.74  Rural                       12  No                  12    2014  Grand Blanc, MI   MI
      2     28348.7   Urban                        7  Yes                 12    2014  Taneytown, MD     MD
[1048575 rows x 9 columns]

from h2o.estimators import H2OKMeansEstimator

predictors = ["Units", "Revenue_T", "Category", "ManufacturerID_x", "IsCompete", "MonthNo", "Year", "City", "State"]
train, valid = df.split_frame(ratios=[.8], seed=1234)
encoding = "one_hot_explicit"
pros_km = H2OKMeansEstimator(k=7, categorical_encoding=encoding,
                             seed=1234)
pros_km.train(x=predictors,
              training_frame=train,
              validation_frame=valid)

pros_km.scoring_history()

In [4]:
from h2o.estimators import H2OKMeansEstimator

# run h2o Kmeans to get good starting points
h2o_km = H2OKMeansEstimator(k=13, init="furthest", standardize=True)
h2o_km.train(training_frame=df)

user_points = h2o.H2OFrame(h2o_km.centers())

# show details
h2o_km.show()

kmeans Model Build progress: |███████████████████████████████████████████████████| (done) 100%
Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

Model Details
=============
H2OKMeansEstimator : K-means
Model Key: KMeans_model_python_1695361478757_1


Model Summary:
    number_of_rows    number_of_clusters    number_of_categorical_columns    number_of_iterations    within_cluster_sum_of_squares    total_sum_of_squares    between_cluster_sum_of_squares
--  ----------------  --------------------  -------------------------------  ----------------------  -------------------------------  ----------------------  --------------------------------
    1.04858e+06       13                    4                                10                      4.69267e+06                      7.82222e+06             3.12955e+06

ModelMetricsClustering: kmeans
** Reported on train data. **

Total Within Cluster Sum of Square Error: 4691377.112835612
Total Sum of Square Error to Grand Mean: 7822219.060505711
Between Cluster Sum of Square Error: 3130841.9476700984

Centroid Statistics:
    centroid    size    within_cluster_sum_of_squares
--  ----------  ------  -------------------------------
    1           256378  1.17129e+06
    2           6       922.741
    3           24      3881
    4           131     16278.7
    5           8       753.294
    6           368     19421.2
    7           31      6277.21
    8           1092    24655.1
    9           243706  1.04117e+06
    10          3865    33700.7
    11          16750   96465.5
    12          202023  969233
    13          324193  1.30733e+06

Scoring History:
    timestamp            duration    iterations    number_of_reassigned_observations    within_cluster_sum_of_squares
--  -------------------  ----------  ------------  -----------------------------------  -------------------------------
    2023-09-22 05:45:10  0.100 sec   0             nan                                  nan
    2023-09-22 05:45:14  4.381 sec   1             1.04858e+06                          6.60122e+06
    2023-09-22 05:45:15  4.967 sec   2             140253                               5.01441e+06
    2023-09-22 05:45:15  5.520 sec   3             91979                                4.85861e+06
    2023-09-22 05:45:16  5.878 sec   4             55699                                4.75768e+06
    2023-09-22 05:45:16  6.123 sec   5             28640                                4.71523e+06
    2023-09-22 05:45:16  6.376 sec   6             16884                                4.70218e+06
    2023-09-22 05:45:16  6.621 sec   7             10357                                4.69746e+06
    2023-09-22 05:45:17  6.871 sec   8             6580                                 4.69519e+06
    2023-09-22 05:45:17  7.135 sec   9             4763                                 4.69358e+06
    2023-09-22 05:45:17  7.394 sec   10            3163                                 4.69267e+06

[tips]
Use `model.explain()` to inspect the model.
--
Use `h2o.display.toggle_user_tips()` to switch on/off this section.

In [5]:
pred = h2o_km.predict(df)

kmeans prediction progress: |████████████████████████████████████████████████████| (done) 100%

In [6]:
df['cluster'] = pred
df

  Units    Revenue_T  Category      ManufacturerID_x  IsCompete      MonthNo    Year  City              State      cluster
-------  -----------  ----------  ------------------  -----------  ---------  ------  ----------------  -------  ---------
     12     31676.4   Urban                        8  No                  12    2014  Newington, CT     CT               3
      7     11020.6   Rural                       10  No                  12    2014  Corona, CA        CA               7
      7     11020.6   Rural                       10  No                  12    2014  Corona, CA        CA               7
      3     35010.4   Urban                        7  Yes                 12    2014  Melbourne, FL     FL               9
      3     16441.1   Rural                        4  No                  12    2014  Saint George, UT  UT               9
      3     35541.4   Urban                        1  Yes                 12    2014  Turlock, CA       CA               9
      2      2518.74  Youth                        8  No                  12    2014  Spencerport, NY   NY              10
      2      2518.74  Youth                        8  No                  12    2014  Oil City, PA      PA              10
      2      9070.74  Rural                       12  No                  12    2014  Grand Blanc, MI   MI              10
      2     28348.7   Urban                        7  Yes                 12    2014  Taneytown, MD     MD               9
[1048575 rows x 10 columns]

In [7]:
# To save as a parquet:
path = "df2clustering.csv"
h2o.export_file(df, path)

Export File progress: |██████████████████████████████████████████████████████████| (done) 100%