# ПРОГНОЗИРОВАНИЕ №8.5 - ПРИБЫЛЬ (КЛАССИФИКАЦИЯ на половине данных)

In [1]:
import h2o
from h2o.automl import H2OAutoML
h2o.init()

Checking whether there is an H2O instance running at http://localhost:54321. connected.

--------------------------  ----------------------------------
H2O_cluster_uptime:         2 hours 39 mins
H2O_cluster_timezone:       Etc/GMT
H2O_data_parsing_timezone:  UTC
H2O_cluster_version:        3.42.0.2
H2O_cluster_version_age:    2 months and 3 days
H2O_cluster_name:           H2O_from_python_unknownUser_lu56ah
H2O_cluster_total_nodes:    1
H2O_cluster_free_memory:    799 Mb
H2O_cluster_total_cores:    8
H2O_cluster_allowed_cores:  8
H2O_cluster_status:         locked, healthy
H2O_connection_url:         http://localhost:54321
H2O_connection_proxy:       {"http": null, "https": null}
H2O_internal_security:      False
Python_version:             3.8.10 final
--------------------------  ----------------------------------

In [2]:
#file = '/content/drive/MyDrive/Colab Notebooks/Diplom/df4eda2clean2.csv'
file = 'df2prep4regressionV8test.csv'
df = h2o.import_file(file)
df = df.drop('C1')
#df = df.drop('Revenue_cat')
df = df.drop('Revenue_T')
df = df.drop('abc_xyz_class')
df

Parse progress: |████████████████████████████████████████████████████████████████| (done) 100%

  Zip    Units  Manufacturer      MonthNo    Model_id_number  CategoryInSegment    Revenue_cat
-----  -------  --------------  ---------  -----------------  -------------------  ---------------
75965        1  Natura                 10                 40  UrbanConvenience     Revenue_cat #31
25705        1  Aliqui                  2                  4  RuralProductivity    Revenue_cat #6
53704        1  Currus                  4                 21  UrbanConvenience     Revenue_cat #15
80304        1  Aliqui                 12                 21  YouthYouth           Revenue_cat #6
35077        1  Currus                  8                 24  UrbanExtreme         Revenue_cat #31
75075        1  Currus                 11                 17  UrbanConvenience     Revenue_cat #20
43940        1  Pirum                   1                 34  UrbanExtreme         Revenue_cat #29
71360        1  Natura                 10                 39  UrbanConvenience     Revenue_cat #19
66066        1  VanArsdel               1                 39  UrbanConvenience     Revenue_cat #36
85023        1  Aliqui                  5                 12  RuralProductivity    Revenue_cat #27
[485468 rows x 7 columns]

In [3]:
train, valid, unseen = df.split_frame(ratios=[0.7, 0.15])

In [4]:
train

  Zip    Units  Manufacturer      MonthNo    Model_id_number  CategoryInSegment    Revenue_cat
-----  -------  --------------  ---------  -----------------  -------------------  ---------------
75965        1  Natura                 10                 40  UrbanConvenience     Revenue_cat #31
35077        1  Currus                  8                 24  UrbanExtreme         Revenue_cat #31
75075        1  Currus                 11                 17  UrbanConvenience     Revenue_cat #20
43940        1  Pirum                   1                 34  UrbanExtreme         Revenue_cat #29
71360        1  Natura                 10                 39  UrbanConvenience     Revenue_cat #19
85023        1  Aliqui                  5                 12  RuralProductivity    Revenue_cat #27
94087        1  Natura                  6                 14  UrbanExtreme         Revenue_cat #34
60641        1  Natura                 11                 19  UrbanExtreme         Revenue_cat #27
50214        1  Currus                  6                 17  RuralProductivity    Revenue_cat #8
 6470        1  Natura                  1                 27  RuralProductivity    Revenue_cat #12
[339817 rows x 7 columns]

In [5]:
valid

  Zip    Units  Manufacturer      MonthNo    Model_id_number  CategoryInSegment    Revenue_cat
-----  -------  --------------  ---------  -----------------  -------------------  ---------------
25705        1  Aliqui                  2                  4  RuralProductivity    Revenue_cat #6
53704        1  Currus                  4                 21  UrbanConvenience     Revenue_cat #15
34983        1  Pirum                   4                 22  UrbanExtreme         Revenue_cat #24
18302        1  Aliqui                 12                 24  UrbanConvenience     Revenue_cat #36
93535        1  VanArsdel               5                 39  UrbanConvenience     Revenue_cat #44
95682        1  Aliqui                 11                  8  UrbanExtreme         Revenue_cat #22
94509        1  Natura                 12                 55  RuralProductivity    Revenue_cat #5
 7462        1  VanArsdel              10                 70  UrbanConvenience     Revenue_cat #25
49648        1  Pomum                   1                  5  YouthYouth           Revenue_cat #16
85351        1  Natura                  2                  6  MixAll Season        Revenue_cat #15
[72616 rows x 7 columns]

In [6]:
unseen

  Zip    Units  Manufacturer      MonthNo    Model_id_number  CategoryInSegment    Revenue_cat
-----  -------  --------------  ---------  -----------------  -------------------  ---------------
80304        1  Aliqui                 12                 21  YouthYouth           Revenue_cat #6
66066        1  VanArsdel               1                 39  UrbanConvenience     Revenue_cat #36
32825        1  Aliqui                 11                  7  UrbanConvenience     Revenue_cat #28
71115        1  VanArsdel              12                 80  UrbanConvenience     Revenue_cat #36
33981        1  VanArsdel               2                  4  UrbanExtreme         Revenue_cat #33
46167        1  VanArsdel               9                 92  UrbanModeration      Revenue_cat #47
78572        1  VanArsdel               6                 76  UrbanModeration      Revenue_cat #43
80644        1  VanArsdel               2                  4  UrbanExtreme         Revenue_cat #33
44221        1  Pirum                  11                 27  UrbanExtreme         Revenue_cat #16
46143        1  Natura                  8                 79  RuralProductivity    Revenue_cat #3
[73035 rows x 7 columns]

In [7]:
y = "Revenue_cat"
x=train.columns
x.remove(y)

# Тренировка модели

nfolds=0 - это отключает перексрестную проверку и точность будет проверятся на указанной валидационной выборке

In [ ]:
aml = H2OAutoML(
    max_models = 10,
    seed = 1,
    nfolds = 0, # отключение кросс валидации
#    max_depth = 4 #поменьше глубину, не хватает памяти
)
aml.train(x = x, y = y, training_frame = train, validation_frame = valid)

AutoML progress: |██████████████████████████████████████████████████████████████
09:21:05.307: GBM_1_AutoML_3_20230929_80245 [GBM def_5] failed: water.exceptions.H2OModelBuilderIllegalArgumentException: Illegal argument(s) for GBM model: GBM_1_AutoML_3_20230929_80245.  Details: ERRR on field: _ntrees: The tree model will not fit in the driver node's memory (495.4 KB per tree x 10000 > 194.0 MB) - try decreasing ntrees and/or max_depth or increasing min_rows!


█

In [ ]:
lb = aml.leaderboard
lb

In [ ]:
# Get model ids for all models in the AutoML Leaderboard
model_ids = list(lb['model_id'].as_data_frame().iloc[:,0])
model_ids

In [ ]:
# Get the "All Models" Stacked Ensemble model
se = h2o.get_model([mid for mid in model_ids if "StackedEnsemble_AllModels" in mid][0])
#se = h2o.get_model([mid for mid in model_ids if "AutoML" in mid][0])
se

In [ ]:
# Get the Stacked Ensemble metalearner model
metalearner = h2o.get_model(se.metalearner()['name'])

In [ ]:
metalearner.coef_norm()

In [ ]:
%matplotlib inline
metalearner.std_coef_plot()

# Что с важностью признаков

In [ ]:
for model_id in model_ids:
  try:
    print(f"Model ID: {model_id}")
    aml_unit = h2o.get_model(model_id)
    aml_unit.varimp_plot()
  except:
    print(f"{model_id} - ERROR PLOTTING")

# Что с переобученносью

In [ ]:
import pandas as pd
from sklearn.metrics import r2_score

for model_id in model_ids:
  try:
    print(f"Model ID: {model_id}")
    aml_unit = h2o.get_model(model_id)
    perf = aml_unit.model_performance(valid)
    print(perf)
    print(f"R2 cross validation: {aml_unit.r2()}")
    print(f"R2 test validation: {aml_unit.r2(valid=True)}")
    # прогноз лидирующей моделю на валидационной выборке
    val_pred=aml_unit.predict(unseen).as_data_frame()
    # из валидационного датасеат возбму столбец Stay и сконвертиую его в пандас датафрейм
    val_test = unseen['Revenue_cat'].as_data_frame()
    r2_unseen = r2_score(val_test, val_pred)
    print(f"R2 unseen dataset validation: {r2_unseen}")
    print("-------------------\n-------------------")
  except:
    print(f"{model_id} - ERROR CALCULATE PERFOMANCE")

# Графии кривых обучения

In [ ]:
for model_id in model_ids:
  try:
    learning_curve_plot = h2o.get_model(model_id).learning_curve_plot()
  except:
    print(model_id, "- ERROR PLOT")

# Сохранение лучше модели

Довольно стаблильный показатель по Р-квадарт

In [ ]:
#besy_model_id = 'StackedEnsemble_BestOfFamily_1_AutoML_4_20230921_114817'

In [ ]:
# Сохранение лучшей модели
#besy_model = h2o.get_model(besy_model_id)
#h2o.save_model(besy_model, path = "./models")