In [4]:
import pandas as pd

predict = pd.read_csv('df2predict_classification_revenue_new_product.csv')
predict = predict['predict']
predict

0     Revenue_cat #10
1      Revenue_cat #5
2      Revenue_cat #2
3      Revenue_cat #5
4      Revenue_cat #5
           ...
79     Revenue_cat #2
80     Revenue_cat #5
81     Revenue_cat #5
82     Revenue_cat #2
83     Revenue_cat #5
Name: predict, Length: 84, dtype: object

In [5]:
new_product = pd.read_csv('df_new_product.csv', index_col=0)
new_product

   Manufacturer  MonthNo  Model_id_number   CategoryInSegmentInCompete
0         Abbas        1               33  RuralProductivityNotCompete
1         Barba        1               33  RuralProductivityNotCompete
2         Pirum        1               33  RuralProductivityNotCompete
3        Natura        1               33  RuralProductivityNotCompete
4     VanArsdel        1               33  RuralProductivityNotCompete
..          ...      ...              ...                          ...
79        Pirum       12               33  RuralProductivityNotCompete
80       Natura       12               33  RuralProductivityNotCompete
81    VanArsdel       12               33  RuralProductivityNotCompete
82       Salvus       12               33  RuralProductivityNotCompete
83     Victoria       12               33  RuralProductivityNotCompete

[84 rows x 4 columns]

In [6]:
df = new_product.merge(predict, how = 'left', left_index=True, right_index=True)

In [7]:
df

,Manufacturer,MonthNo,Model_id_number,CategoryInSegmentInCompete,predict
0,Abbas,1,33,RuralProductivityNotCompete,Revenue_cat #10
1,Barba,1,33,RuralProductivityNotCompete,Revenue_cat #5
2,Pirum,1,33,RuralProductivityNotCompete,Revenue_cat #2
3,Natura,1,33,RuralProductivityNotCompete,Revenue_cat #5
4,VanArsdel,1,33,RuralProductivityNotCompete,Revenue_cat #5
...,...,...,...,...,...
79,Pirum,12,33,RuralProductivityNotCompete,Revenue_cat #2
80,Natura,12,33,RuralProductivityNotCompete,Revenue_cat #5
81,VanArsdel,12,33,RuralProductivityNotCompete,Revenue_cat #5
82,Salvus,12,33,RuralProductivityNotCompete,Revenue_cat #2
83,Victoria,12,33,RuralProductivityNotCompete,Revenue_cat #5

In [8]:
df.to_csv('df2classification_new_product_predict_full.csv')

In [10]:
%%html
<div class='tableauPlaceholder' id='viz1696935448918' style='position: relative'><noscript><a href='#'><img alt='Predict new product ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;Diplom_16961761265220&#47;Predictnewproduct&#47;1_rss.png' style='border: none' /></a></noscript><object class='tableauViz'  style='display:none;'><param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' /> <param name='embed_code_version' value='3' /> <param name='site_root' value='' /><param name='name' value='Diplom_16961761265220&#47;Predictnewproduct' /><param name='tabs' value='no' /><param name='toolbar' value='yes' /><param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Di&#47;Diplom_16961761265220&#47;Predictnewproduct&#47;1.png' /> <param name='animate_transition' value='yes' /><param name='display_static_image' value='yes' /><param name='display_spinner' value='yes' /><param name='display_overlay' value='yes' /><param name='display_count' value='yes' /><param name='language' value='en-US' /><param name='filter' value='publish=yes' /></object></div>                <script type='text/javascript'>                    var divElement = document.getElementById('viz1696935448918');                    var vizElement = divElement.getElementsByTagName('object')[0];                    if ( divElement.offsetWidth > 800 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else if ( divElement.offsetWidth > 500 ) { vizElement.style.width='1000px';vizElement.style.height='827px';} else { vizElement.style.width='100%';vizElement.style.height='1027px';}                     var scriptElement = document.createElement('script');                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';                    vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>